#form{
    width: max(40%, 250px);
    height: 40%;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: calc(-1 * max(40%, 250px) * 0.5);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background);
}

#form > *{
    display: block;
}
#form > textarea{
    height: 50%;
}
#form > button[type = 'submit']{
    width: 20%;
    height: 10%;
    background-color: var(--blue);
    border: none;
    border-left: 5px solid var(--pink);
}