#listContainer > div{
    box-sizing: border-box;
    height: max-content;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 10fr 1fr;
    justify-content: space-between;
}
#listContainer > div > div:first-child{
    line-height: 5vh;
    background-color: white;
    border: solid 1px var(--blue);
    box-sizing: border-box;
    width: 100%;
    height: 5vh;
}
#listContainer > div button{
    box-sizing: border-box;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./deleteImage.png);
}
#listContainer small{
    display: block;
    color: #6f7980;
    font-size: 0.7rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}